.navigation {
	width: 100%;
	margin: 0 5%;
	text-align: center;
	ul {
		padding: 0;
		li {
			display: inline-block;
			margin: 0 3%;
			a {
				position: relative;
				display: inline;
				margin: 0;
				padding: 1% 10%;
				font-size: 1.25em;
				color: $sub-colour;
				letter-spacing: 2px;
				text-transform: uppercase;
				@include vendor(transition, all 0.2s ease-in-out);
				&:before, &:after, span:before, span:after {
					content: "";
					display: inline-block;
					position: absolute;
					background: $sub-colour;
					@include vendor(transition, all 0.3s cubic-bezier(1,-.005,.693,.99),width .2s cubic-bezier(1,-.005,.693,.99));
				}
				&:before, span:before {
					top: 0;
					right: 0;
					width: 0;
					background: $sub-colour;
				}
				&:after, span:after {
					left: 0;
					bottom: 0;
					width: 15px;
					background: #BE5858;
				}
				&:before, &:after {
					height: 1px;	
				}
				&:hover {
					&:before, &:after {
						width: 100%;
						background: $sub-colour;		
					}
					span {
						&:before, &:after {
							height: 100%;
							background: $sub-colour;
						}
					}
				}
				span {
					width: 0;
					height: 0;
					letter-spacing: -1px;
					&:before, &:after {
						width: 1px;
						height: 0;		
					}	
				}
			}
		}
	}
}

.content--single-work {
	.post-nav {
		position: fixed;
		right: 30px;
		top: 70px;
		font-size: 2.3em;
		font-weight: bold;
		line-height: 1.2;
		a {
			display: block;
			font-size: 30px;
			text-align: center;
			:hover {
				color: $red;
			}
		}
	}
}
.content--single-blog {
	.post-nav {
		position: absolute;
		top: 65px;
		right: 120px;
		//max-width: 150px;
		height: 50px;
		font-size: 1.7em;
		border: 3px solid #000;
		.link {
			float: left;
			position: relative;
			display: inline-block;
			width: 50px;
			height: 100%;
			font-size: 1.5em;
			line-height: 0.9;
			color: #000;
			//background: #000;
			border-right: 3px solid #000;
			&:last-child {
				border-right: none;
				&:before, &:after {
					@include pseudo(33px, 3px);
					top: 50%;
					right: 0;
					left: 0;
					margin: auto;
					background: #000;
				}
				&:before {
					@include vendor(transform, rotate(45deg));
				}
				&:after {
					@include vendor(transform, rotate(-45deg));
				}
			}
		}
	}
}