.back {
	.button {
		display: block;
		width: 100px;
		height: 80px;
		padding: 25px 0;
		border: 2px solid;
		text-align: center;
	}
}

.bt-menu-trigger {
	position: fixed;
	display: block;
	width: 48px;
	height: 34px;
	bottom: 20%;
	left: 0;
	margin: auto;
	color: transparent;
	cursor: pointer;
	z-index: 9999;
	background-color: #fff;
	text-align: center;
	//@include vendor(transform, rotate(45deg));
	span {
		position: absolute;
		display: block;
		top: 16px;
		right: 0;
		left: 0;
		width: 28px;
		height: 2px;
		margin: auto;
		background-color: #000;
		font-size: 0px;
		user-select: none;	
		@include vendor(transition, all 0.5s);
		&:before, &:after {
			@include pseudo(100%,100%);
			@include vendor(transition, all 0.5s);
			left: 0;
			background: #000;	
		}
		&:before {
			@include vendor(transform, translateY(-440%));
		}
		&:after {
			@include vendor(transform, translateY(440%));
		}
	}
	&:hover {
		span {
			&:before {
				@include vendor(transform, translateY(-580%));
			}
			&:after {
				@include vendor(transform, translateY(580%));
			}
		}
		svg {
			path {
				fill: $red;
			}
		}
	}
	svg {
		margin: 4px 0;
		path {
			fill: #000;
		}
	}
}

.bt-menu-open {
	.bt-menu-trigger {
		span {
			@include vendor(transition, all 0.1s);
			background-color: transparent;
			&:before {
				@include vendor(transform, translateY(0) rotate(45deg));
			}
			&:after {
				@include vendor(transform, translateY(0) rotate(-45deg));
			}
		}
		&:hover {
			span {
				&:before, &:after {
					background-color: #ccc;
				}
			}
		}
	}
}