@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (max-width:768px) {
	body {
		overflow: auto;
	}
	.bg {
		background-size: cover;
	}
	.left {
		float: none;
	}
	.right {
		float: none;
	}
	.cols2 {
		.section {
			width: 100%;
			padding-top: 60px;
		}
	}
	.bt-menu {
		.menu__works {
			top: 0;
			height: 0;
			margin-top: 60px;
			overflow: hidden;
			transform: translateY(0);
			.works__list {
				float: none;
				width: 100%;
				padding: 0 88px 0 30px;
			}
			li {
				width: 33.3333%;
			}
		}
		&-open {
			.bt-menu-inner.menu__works {
				height: 100%;
			}
		}
	}
	.bt-menu-trigger {
		top: 0;
		bottom: inherit;
	}
	.navigation {
		top: 0;
		bottom: inherit;
		width: 100%;
	}
	#content:not(.content--home) {
		height: auto !important;
		padding-top: 0;
	}
	.home {
		.section {
			&--title {
				height: 100%;
				top: 0;
				bottom: 0;
				z-index: 99;
			}
			&--menu {
				position: fixed;
				top: 0;
				height: 40px;
				padding: 0;
				.navigation {
					margin: 0;
					ul {
						li {
							a {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
	.content--divided .box {
		width: 100%;
		padding: 0;
		word-break: break-word;
		&:before {
			content: none;
		}
	}
	.content {
		&--about {
			.section {
				&--title {
					position: absolute;
					top: 0;
					width: 100%;
					height: 390px;
					background-size: cover;
				}
				&.content-inner {
					width: 100%;
					margin-top: 380px;
				}
			}
		}
		&--works {
			#section--works {
				height: auto !important;
			}
			.items__panel {
				float: none;
				width: 100% !important;
				height: 500px !important;
				position: static;
				&-web {
					width: 100%;
					height: 246px;
				}
				&:nth-child(2) {
					position: relative;
					height: 100% !important;
					padding-bottom: 140px;
				}
				.panel__description {
					position: static;
					width: 100%;
					padding: 40px 0 0;
					transform: translateY(0%);
					h6 {
						text-align: center;
					}
				}
			}
		}
		&--contact {
			.content-inner {
				.box {
					position: static;
					transform: translateY(0%);
				}
				form {
					.title {
						display: block;
						width: 100%;
					}
					input.wpcf7-text {
						width: 100%;
					}
				}
			}
		}
	}
	.post-nav {
		position: absolute;
		bottom: 20px;
		height: 100px;
	}
}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {
	.panel-items {
		.panel {
			.item-left {
				left: 7%;
				width: 42%;
			}
		}
	}
}
@media only screen and (max-width: 1900px) {
	.content--blog {
		overflow: auto;
	}
}
@media only screen and (max-width: 1440px) {
	.panel-items {
		.panel {
			.item-left {
				top: 34%;
				left: 11%;
				width: 42%;
			}
			.item-right {
				right: 6%;
			}
		}
	}
	.bt-menu {
		ul {
			li {
				margin: 0;
			}
		}
	}
}
@media only screen and (max-width: 1350px) {
	.menu__works {
		.works__list {
			width: 288px;
		}
		li {
			width: 288px;
		}
	}
}
@media only screen and (max-height: 700px) {
	.content--works .items__panel .panel__description {
		height: 300px;
		overflow: auto;
	}
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
